/* body{
    font-family: 'Montserrat';
}

.container-fluid{
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
} */

#title{
  background-color: #8356bb;
  color: #fff;
}

/* Navigation bar */

.navbar{
  padding: 0 0 2rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

/* Buttons */
.title-button{
  margin: 5% 3% 5% 0;
}

/* h3{
    font-size: 1.5rem;
    font-weight: bold;
}

p{
  color: #8f8f8f;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
} */

/* Pricing section */

#pricing{
  padding: 100px;
  text-align: center;
  background-image: url(../images/fusee.jpg);
  background-size: 18%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #8356bb;
}

.pricing-column{
  padding: 3% 2%;
}

#contact{
  padding: 0;
  text-align: left;
  background-color: #8356bb;
  color: #fff;
  font-family: "Montserrat";
}

#contact h1{
  padding-left: 0;
  font-weight: bold;
}

#contact .container-fluid{
  padding-top: 0;
}

#info_contact .info{
  padding:10px;
}

.btn{
  text-align:center;
}

/* Footer section */
#footer {
  padding: 7% 15%;
  text-align: center;
}

#footer-inverse{
  background-color: #7D57B5;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

#footer-inverse p{
  color: #fff;
}

.social-icon {
  margin: 20px 10px;
}
