.LateralNavbar{
    position: fixed;
    margin-top: 73px;
    z-index: 2;
    width: fit-content;
    height: calc(100vw - 82px);
    padding: 12px;

    .non-active{
        display: none !important;
    }

    .menuOpen{
        display: block;
    }

    .menuClosed{
        display: none;
    }

    .categories{
        margin-top: 80px;
        padding: 24px 16px ;
        gap: 2rem;
        display: grid;
        justify-content: flex-start;
        grid-template-rows: repeat(4, 1fr);
        background-color: var(--white);
        border-radius: 31.5px;

        .backgroundSelect{
            position: absolute;
            width: 51px;
            height: 51px;
            border-radius: 50%;
            background-color: var(--selagoPurple);
            margin-left: calc(50% - 12px);
            transform: translate(-50%);
            margin-top: 117px;

            transition: 200ms;
        }
        
        li{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 10px;
            border-radius: 50%;
            a{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;

                .icon{
                    display: flex;
                    z-index: 2
                }
            }
        }

        li.active{
            svg{
                path{
                    fill: var(--deepSapphire);
                }
            }
        }

        li:hover{
            cursor: pointer;
        }
    }
    
    .menu{
        li{
            border-radius: 10px;
            a{
                display: flex;
                align-items: center;
                overflow: hidden;
                gap: 1rem;
                padding: 8px 12px;
            }
        }
        li:hover{
            cursor: pointer;
            background-color: #fff;
            .icon{
                svg{
                    path{
                        fill:var(--deepSapphire)
                    }
                }
            }
            p{
                color: var(--deepSapphire);
            }
        }
    }

}

// .LateralNavbar:hover{
//     .menu{
//         li{
//             p{
//                 display: block;
//             }
//         }
//     }
// }