.landing-page{
    overflow-x: hidden;
    h1{ 
        font-size: 3.5vw;
        font-weight: 700;
        line-height: 3.9vw;
        color: var(--deepSapphire);
        .highlighth1{
            background: linear-gradient(120deg, var(--supernova) 0%, var(--supernova) 100%);
            background-repeat: no-repeat;
            background-size: 100% 40%;
            background-position: 0 90%;
        }
    }

    header{
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: inherit;
        -webkit-backdrop-filter: blur(9px);
        backdrop-filter: blur(9px);
        padding: 0 5rem;
        width: calc(100% - 160px);
        max-width: calc(1440px - 160px);
        
        .connexion{
            padding: 8px 12px;
            background-color: var(--white);
            border-radius: 5px;
            height: fit-content;
            margin-left: auto;
            border: 1.5px solid var(--deepSapphire);
            color: var(--deepSapphire);
        }
        .connexion:hover{
            cursor: pointer;
        }
    }

    .main-section{
        padding: 7rem 5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        img{
            width: 40vw;
            max-width: 540px;
        }
        .text-area{
            max-width: 480px;
            display: flex;
            flex-direction: column;

            .description{
                margin: 2rem 0;
                color: var(--deepSapphire);
                font-size: max(16px, 1.2vw);
            }
            .connexion{
                padding: 12px 16px;
                width: fit-content;
                font-size: max(14px, 1.5vw);
                background-color: var(--supernova);
                border-radius: 10px;
                border: none;
            }
            .connexion:hover{
                cursor: pointer;
            }

        }
    }
    
    .modal{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        .modal-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            padding: 2rem 4.5rem;
            width: fit-content;
            height: fit-content;
            background-color: var(--white);
            top: calc((100vh - 679.5px)/2);
            bottom: calc((100vh - 679.5px)/2);
            right: calc((100vw - 574px)/2);
            left: calc((100vw - 574px)/2);
            border-radius: 5px;
            gap: 40px;

            .modal-header{
                .close{
                    cursor: pointer;
                    position: absolute;
                    top: 20px;
                    right: 30px;
                }
            }
            .modal-body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                button{
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    padding: 10px 1.5rem;
                    width: 430px;
                    border-radius: 5px;
                    a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--black);
                    }
                }
                .facebook{
                    background-color: #3C5997;
                    color: var(--white);
                    border: none;
                }
                .google{
                    background-color: var(--white);
                    border: 1px solid #DDDFE0
                }
                .apple{
                    background-color: #000000;
                    color: var(--white);
                    border: none;
                }
                .email{
                    background-color: #F4F4F4;
                    border: none;
                    height: 54px;
                }
            }
            .sign-up{
                display: flex;
                flex-direction: row;
                gap:10px;
            }
        }
    }

    .pilier-reussite{
        padding: 7rem 5rem;
        display: flex;
        justify-content: space-between;
        .image-area{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            max-width: 540px;
        }
        .text-area{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 586px;
            gap: 6rem;
            .title{
                font-weight: 700;
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 12px ;
            }
            .description{
                color: var(--scorpion);
            }
        }
    }

    .quick-course-presentation{
        padding: 7rem 5rem;
        background: #F5F8FB;
        .title-description{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            gap: 2rem;
            margin-bottom: 5rem;
            h1{
                max-width: 540px;
            }
            p{
                font-weight: 400;
                font-size: max(16px, 1.2vw);
                line-height: 28px;
                color: var(--scorpion);
                max-width: 570px;
            }
        }
        .categories{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .category{
                display: flex;
                flex-direction: row;
                border-radius: 5px;
                align-items: center;
                gap: 1rem;
                padding: 8px 16px;
                border: 1px solid #000000;
            }
        }
    }

    .arguments-section{
        padding: 7rem 5rem;
        .arguments{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 4rem;
            .argument-container{
                display: flex;
                flex-direction: column;
                margin-top: 4rem;
                .line{
                    height: 1px;
                    width: 100%;
                    background-color: var(--black);
                    margin-bottom: 2.5rem;
                }
                .argument{
                    display: flex;
                    flex-direction: row;
                    gap: 2.5rem;
                    .text-area{
                        .title{
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 34px;
                            margin-bottom: 1rem;
                        }
                        .description{
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 28px;
                            color: var(--scorpion);
                        }
                    }
                }
            }
        }
    }

    footer{
        background-color: var(--deepSapphire);
        padding: 1.5rem 5rem;

        .footer-container{
            max-width: 1280px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            .text-area{
                display: flex;
                flex-direction: column;
                gap: 4rem;
                .first-part-links{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 12rem;
                    .column{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        p{
                            color: var(--white);
                        }
                        .title{
                            margin-bottom: 12px;
                        }
                    }
                }
                .social-media{
                    display: flex;
                    align-items: center;
                    gap: 4rem;
                    justify-content: flex-end;
                }
            }
        }
    }
}

@media screen and (max-width: 1064px){
    .landing-page{
        .main-section{
            .text-area{
                .description{
                    margin : 1rem 0 2rem;
                }
                .connexion{
                    padding: 10px 12px;
                }
            }
        }
    }

}   

@media screen and (max-width: 900px){
    .landing-page{
        header{
            padding: 0 2.5rem;
            width: calc(100% - 5rem);
        }
        .main-section{
            padding: 7rem 2.5rem 0;
            .text-area{
                .description{
                    margin : 1rem 0;
                }
                .connexion{
                    padding: 4px 8px;
                }
            }
        }

        .quick-course-presentation{
            padding: 2rem 2.5rem ;
        }

        footer{
            padding: 1.5rem 2.5rem;
        }
    }
}

@media screen and (max-width: 768px){
    .landing-page{
        .quick-course-presentation{
            padding: 2rem 2.5rem;
            .title-description{
                flex-direction: column;
                margin-bottom: 2rem;
            }

            .categories{
                overflow-x: scroll;
                gap: 1rem;
                .category{
                    p{
                        width: 115px;
                    }
                }
            }
        }

        .modal{
            .modal-content{
                padding: 1rem 2.5rem;
                top: calc((100vh - 425.5px)/2);
                bottom: calc((100vh - 425.5px)/2);
                right: calc((100vw - 358px)/2);
                left: calc((100vw - 358px)/2);
    
                .h2-m-medium{
                    font-size: 20px;
                }
                .modal-body{                    
                    button{
                        padding: 10px 1.5rem;
                        width: 278px;
                        a{
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
                .sign-up{
                    p,a{
                        font-size:14px
                    }
                }
            }
        }

        footer{
            .footer-container{
                flex-direction: column;
                gap: 2rem;
                img{
                    height: 40px;
                    width: fit-content;
                }
                .text-area{
                    .social-media{
                        gap: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .landing-page{
        header{
            padding: 0 10px;
            width: calc(100% - 20px);
        }
        h1{
            font-size: 39px;
            line-height: 47.2px;
        }
        .main-section{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 7rem 10px 0;

            .text-area{
                .description{
                    font-size: 16px;
                    margin : 1rem 0;
                }
                .connexion{
                    font-size: 16px;
                    padding: 6px 10px;
                }
            }

            img{
                width: 100%;
                max-width: 100%;
            }

        }

        .quick-course-presentation{
            padding: 2rem 10px ;
        }

        footer{
            padding: 1.5rem 10px;
        }

    }
}