.ContentPresentation{
    min-width: 517px;
    img{
        width: 100%;
    }
    .TextArea{
        width: calc(100% - 17px);
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 2rem auto;
        .Notes{
            display: flex;
            flex-direction: row;
            gap: 12px;
            .Stars{
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
            .NoteInFloat{
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
            }
            .NbNote{
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
                color: var(--scorpion);
            }
        }
        a{
            padding: 12px 32px;
            color: var(--white);
            background-color: var(--malibu);
            width: fit-content;
            border-radius: 28px;
        }
        .Line{
            height: 1px;
            width: 100%;
            background-color:var(--wildSand);
        }

        .ContentPresentation{
            display: grid;
            grid-template-columns: repeat(2,50%);
            gap: 24px 16px;
            .Item{
                display: flex;
                flex-direction: row;
                gap: 8px;
                .icon{
                    svg{
                        border-radius: 19px;
                        box-shadow: 0px 4px 24px 0px #00000040;
                    }
                }

                .TextArea{
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    .Title{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 19px;
                    }
                    .Description{
                        color: var(--scorpion);
                    }
                }
            }
        }

    }
}