.search-box{
    .search-form{
        display: flex;
        flex-direction: row;
        input{
            border: none;
            background-color: var(--catskillWhite);
            padding: 8px 16px;
            border-radius: 20px 0px 0px 20px;
            width: 500px;
            height: 40px;
        }
        input::placeholder{
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0em;
            color: var(--scorpion);
        }
        button{
            padding: 0 1rem;
            border: none;
            background-color: var(--iron);
            border-radius: 0px 20px 20px 0px;
            z-index: -1;
            .icon{
                display: flex;
            }
        }

        button:hover{
            cursor: pointer;
            background-color: var(--iron);
        }
    }

    .suggestion{
        background-color: var(--white);
        position: absolute;
        top: 4.75rem;
        border: 1px solid var(--iron);
        padding: 1.5rem;
        border-radius: 10px;
        width: calc(500px - 3rem);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}