header{
    position: fixed;
    padding: 0 1rem;
    width: calc(100% - 2rem);
    background-color: var(--white);
    border-bottom: 1px solid #ECEBEB;
    #logo{
        padding: 18px 16px;
    }
    #burger{
        padding: 6px 3px;
    }
    #burger:hover{
        cursor: pointer;
    }

}

header.non-active{
    display: none;
}
