.Competences{
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #F9FBFC;
    border-radius: 35px;
    min-width: 322px;
    // height: 80vh;
    .ListCompetences{
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
        .Competence{
            display: flex;
            align-items: center;
            border-radius: 15px;
            padding: 12px 16px;
            img{
                height: 46px;
            }
            .TextArea{
                margin-left: 1rem;
                width: 224px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .Details{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    p{
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 12px;
                        color: #7A8594;
                    }
                    .Detail{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 4px;
                        .icon{
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .Competence:hover{
            cursor: pointer;
        }

        // .Competence.Active{
        //     color: #0E1770;
        //     background: #F3F1FE;
        // }
    }
}