.Search-page{
    padding: 7.5rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .filters{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        .filter{
            padding: 8px 24px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            border: 1px solid var(--gallery);
            border-radius: 15px;
            .icon{
                display: flex;
                align-items: center;
            }
        }
    }
}