@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
}

h1,h2,h3,p,a{
    margin: 0;
    font-family: "Inter";
    letter-spacing: 0em;
    text-align: left;
}

img{
    object-fit: contain;
}

h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    
}

h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}

p{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

a{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
}